.departures {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__buttons {
    display: flex;
    position: relative;
    height: 80px;
    margin: 0;
    padding: 0;
    border-color: $buttons-border-color;
  }

  &__btn {
    position: absolute;
    height: 80px;
    justify-content: flex-end;
    width: 50%;
    display: flex;
    align-items: center;
    border: none;
    background-color: $white-color;
    border-radius: 70px 70px 0 0 !important;
    z-index: 1;

    &:hover {
      cursor: pointer;
    }

    &-icon {
      transform: rotate(-20deg);
      color: $blue-color;
      font-size: 2em;
      margin: 0 30px 0 0;
    }

    &-title {
      margin: 0 20% 0 0;
      font-size: 2em;
      font-weight: 400;
      color: $blue-color;
    }
  }

  &__arrivals-btn {
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 53%;
    height: 80px;
    border: none;
    width: 100%;
    background-color: $light-blue-color;
    border-radius: 70px 70px 0 0 !important;
    z-index: 0;
    transition: background-color 0.3s;

    &:hover {
      transition-timing-function: ease-in-out;
      background-color: $blue-color;
      cursor: pointer;
    }

    &-icon {
      transform: rotate(20deg);
      color: $white-color;
      font-size: 2em;
      margin: 0 0 0 20%;
    }

    &-title {
      justify-content: flex-start;
      margin: 0 0 0 30px;
      font-size: 2em;
      font-weight: 400;
      color: $white-color;
    }
  }
}
