$background-main-color: #e7efec;
$background-dark-color: #0066871a;

$white-color: #fff;
$blue-color: #1eb7ee;
$light-blue-color: #66cdf3;
$grey-color: #95989a;

$buttons-border-color: #dee2e6 #dee2e6 #fff;

$text-dark-color: #212529;

$flight-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
$flight-green-color: #63c745;

$no-flights-text-color: #2f2f2f;
